In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Simulation-2020-2021

/content/drive/MyDrive/Simulation-2020-2021

In [ ]:
import pandas as pd

excel3='/content/drive/MyDrive/Simulation-2020-2021/D3.xlsx'
excel4='/content/drive/MyDrive/Simulation-2020-2021/D4.xlsx'

In [ ]:
df3=pd.read_excel(excel3)
df4=pd.read_excel(excel4)

In [ ]:
value3=df3[['commentaire','classe']]
value4=df4[['commentaire','classe']]



dataframe=[value3,value4]
join=pd.concat(dataframe)
join.to_excel("dataset3and4.xlsx")