In [30]:
from tensorflow import keras
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
import string
import pandas as pd
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\FIRAS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\FIRAS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [59]:
data_train=pd.read_excel('C:/Users/FIRAS/Desktop/Ref NLP/work/dataset_marrocain.xlsx')
data_train.shape

(1549, 2)

In [60]:
data_train.head

<bound method NDFrame.head of                                             Commentaire   Classe
0      محند اعطيك الاختيارات ههههه و انت احسن الظن ف...   normal
1        إبراهيم الجعفري رئيس وزراء العراق إلتون جون...  abusive
2      لماذا عندما نتصفح الإنترنت نشعر أن الكل من نف...   normal
3     تريد دابا كنقادو بروغرام ديال الصيف ههه بنادم ...   normal
4       مكنهدرش على باغي الفلوس على ود راحة البال اه...     hate
...                                                 ...      ...
1544   يفكّرونَ رَبَّنَا الجنسيات والعربية للسعودين ...   normal
1545                                     قل يامُسخّر لك   normal
1546  تبغي تحماقغير الزمراوي فالاوزان المزيرية والقو...   normal
1547  بقى برشيلونة بالقراءة المصنّفة بريطانيا الصهيو...   normal
1548  لكن منتقلقوش كيتعرضوا والسجادة وتفرّقهم بروفاي...   normal

[1549 rows x 2 columns]>

In [61]:
data_train.columns

Index(['Commentaire', 'Classe'], dtype='object')

In [69]:
data_train.describe()

                                      Commentaire  Classe
count                                        1548    1549
unique                                       1485       3
top     هاد ناس برشيد عالام تحية للعنصرية النسوي   normal
freq                                           12    1361

In [73]:
data_train.isnull().sum()

Commentaire    1
Classe         0
dtype: int64

In [77]:
data_train=data_train.dropna()

In [78]:
data_train.isnull.any()

AttributeError: 'function' object has no attribute 'any'